* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
}

/*estilos simples*/
.contenedor {
	width: 90%;
    margin: 2% auto;
	padding-top: 30px;
}

html, body {
	min-height: 100%;
	background-color: #2f3c4b;
}

.oculto {
	display: none;
}

/*Estilos para el formulario de usuario*/
.tituloPag {
	background-color: white;
	width: 50%;
	padding: 15px 20px;
	text-align: center;
	margin: auto;
}

.form {
	background-color: white;
	width: 50%;
	padding: 15px 20px 30px;
	margin: 0 auto;
	display: flex;
    flex-direction: column;
}

.divForm {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.label {
	font-size: 18px;
	width: 29%;
	margin: 10px 0;
}

.input {
	outline: none;
	font-size: 18px;
	width: 68%;
	border: 2px solid black;
	padding: 0px 1%;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 0px #0b5909;
}

.select {
	outline: none;
	font-size: 18px;
	width: 70%;
	border: 2px solid black;
	padding: 0px 6px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 0px #0b5909;
}

.error {
	font-size: 18px;
	width: 100%;
	color: #af0505;
	text-shadow: 0px 0px 10px #ff0000;
	font-weight: bold;
	margin: 3px 0;
}

.submit {
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    background-color: #000000;
    color: white;
    margin-top: 15px;
    text-transform: uppercase;
}

/*ESTILOS PARA EL NAVEGADOR*/
nav {
    background-color: #1f2732;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
	z-index: 10;
}

nav .logo {
	width: 100px;
    position: relative;
    left: 2%;
}

nav form {
	background-color: white;
	padding: 1px 7px;
	border: black 1px solid;
	display: flex;
	justify-content: space-between;
	width: 40%;
	position: absolute;
    left: 30%;
}

nav form input#buscador {
	outline: none;
	font-size: 16px;
	padding: 3px 0px;
	flex: 1;
}

nav form input#buscar {
	background: none;
	margin-left: 5px;
	background-image: url("/img/lupita.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
}

nav>div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav>div>.inicioSesion {
	margin: 0 10px;
}

/*ESTILOS PARA LA PAGINA DEL CARRITO*/
.aCarrito {
    text-decoration: none;
}

.aCarrito .carrito {
	width: 38px;
    margin: 0 15px;
    position: absolute;
    right: 5%;
    top: 2px;
}

.aCarrito span{
    position: fixed;
    right: 5.5%;
    top: 17px;
    border-radius: 50%;
    padding: 1px 4px;
    font-weight: 700;
    font-size: 18px;
    background-color: #0000004f;
    color: #ffffff;
}

.carritoCompras { 
	width: 100%;
	display: flex;
}

.muestraProducts {
	width: 75%;
	display: flex; flex-wrap : wrap;
	justify-content: space-around;
	flex-wrap: wrap;
}

.muestraProducts .cardProduct {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	margin: 5px 0;
	width: 40%;
}

.muestraProducts .cardProduct .nameProduct {
	font-size: 30px;
	padding: 5px 30px;
	font-weight: bold;
	background-color: #0b0b4d;
	color: white;
}

.muestraProducts .cardProduct .infoProduct {
	display: flex;
	align-items: flex-start;
	background-color: #ebeff3;
}

.cardProduct .infoProduct .imgProduct {
	width: 125px;
}

.cardProduct .infoProduct .textProduct {
	flex-direction: column;
	flex: 1;
}

.cardProduct .infoProduct div {
	display: flex;
	align-items: flex-end;
}

.cardProduct .infoProduct .priceCant {
	font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 10px;
    right: 10px;
    z-index: 0;
}

.cardProduct .infoProduct .priceProduct {
	margin-right: 15px;
}

.cardProduct .infoProduct .cantProduct {

}

.cardProduct .infoProduct .totalProduct {
	font-size: 25px;
    font-weight: bold;
    position: relative;
    top: 15px;
    right: 10px;
    z-index: 0;
}

.cardProduct .infoProduct .functions {
	position: relative;
    top: 20px;
	right: 10px;
    z-index: 0;
}

.infoProduct .functions .funcar {
	text-decoration: none;
    color: black;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
}

.infoProduct .functions .sum {
	background-color: #35f341;
    padding: 5px;
    position: relative;
    right: 22px;
}

.infoProduct .functions .borrar {
	margin: 0 10px;
	background-color: #ff0000;
    padding: 5px 9px;
	position: relative;
    right: 11px;
}

.infoProduct .functions .res {
	background-color: #ff5757;
    padding: 5px 8px;
}

.carritoCompras .Total {
	width: 25%;
}

.carritoCompras .Total h2{
	color: white;
}

/*estilo de la pagina principal*/
.pagina {
	padding: 10px;
}

/*ESTILOS PARA LOS PRODUCTOS*/
.muestraProductos {
	display: flex;
	flex-wrap: wrap;
}

.producto {
	background-color: #ebeff3;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 23%;
	box-shadow: 0px 0px 10px 1px #1f2a55a8;
	border-radius: 20px;
	margin: 10px 1%;
}

.producto .borrar{
	position: fixed;
    width: 50px;
}

.producto .imagenProducto {
	width: 100%;
	height: 300px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.producto .nombreProducto {
	text-align: center;
	font-size: 25px;
}

.producto .cantidad {
	text-align: center;
}

.producto .cantidad span {
	margin-left: 15px;
}

.producto .precio {
	text-align: center;
}

.producto .precio span {
	margin-left: 15px;
}

.producto .nullStock{
    font-size: 18px;
    width: 100%;
    color: #af0505;
    text-shadow: 0px 0px 10px #ff0000;
    font-weight: bold;
    margin: 12px 0 3px;
    text-align: center;
}

.producto .agregarCarrito {
    margin: 7px;
    background-color: #000000;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bolder;
    padding: 6px;
    text-decoration: none;
    color: #ebeff3;
    text-align: center;
}

.crearProducto { /*estilos para el boton de cargar producto*/
	width: 32px;
    position: absolute;
    right: 11%;
    top: 3px;
    background: #ffffff80;
}

.cerrarSesion {
	text-decoration: none;
	color: #360a08;
	background-color: #ff4244;
	font-weight: 900;
	padding: 2px 5px;
	border-radius: 16px;
	box-shadow: 5px 4px 7px #ff4244bf;
}